:root {
    --display-result-char: #FFFFFF;
    --display-history-char: #818181;
    --display-history-operation-char: #109DFF;
    --button-number-bg: #303136;
    --button-number-char: #29A8FF;
    --button-operation-bg: #005DB2;
    --button-operation-char: #339DFF;
    --button-clear-bg: #562d2d;
    --button-clear-char: #A5A5A5;
    
    --button-number-active-bg: #4A4F63;
    --button-operation-active-bg: #1991FF;
    --button-operation-active-char: #B2DAFF;
    --button-clear-active-bg: #963030;
    --button-clear-active-char: #B2DAFF;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: rgb(114 161 194 / 63%);
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.main {
    display: flex;
    justify-content: center;
}

.calculator {
    margin-top: 100px;
    padding: 50px 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 70vh;
    width: 500px;
    background: linear-gradient(191.34deg, #17181A -4.95%, #17181A 103.74%);
    border-radius: 39px;
    box-shadow: 5px 5px 20px var(--button-number-bg);
}

.display {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
}

.display-history {
    font-weight: 400;
    font-size: 28px;
    min-height: 36px;
    line-height: 36px;
    color: var(--display-history-char);
}

.display-history-operation {
    color: var(--display-history-operation-char);
}

.display-result {
    font-size: 64px;
    line-height: 72px;
    color: var(--display-result-char);
}

.button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.button-number-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 2;
    grid-row-end: span 4;
}

.button {
    padding: 6px 4px;
    border-radius: 16px;
    font-size: 32px;
    line-height: 48px;
    border: none;
    transition: 0.3s all;
}

.button:hover {
    cursor: pointer;
}

.button-number {
    background-color: var(--button-number-bg);
    color: var(--button-number-char);
}

.button-operation,
.button-equality {
    background-color: var(--button-operation-bg);
    color: var(--button-operation-char);
}

.button-clear,
.button-delete {
    background-color: var(--button-clear-bg);
    color: var(--button-clear-char); 
}

.button-delete {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-equality {
    grid-row-start: 4;
    grid-row-end: 6;
}

.button-wide {
    grid-column-end: span 2;
}

.button-operation:hover,
.button-equality:hover {
    background-color: var(--button-operation-active-bg);
    color: var(--button-operation-active-char);
}

.button-number:hover {
    background-color: var(--button-number-active-bg);
}

.button-clear:hover,
.button-delete:hover {
    background-color: var(--button-clear-active-bg);
    color: var(--button-clear-active-char);
}

.footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-link {
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    color: var(--button-operation-active-bg);
    transition: 0.3s all ease-in;
}

.footer-link:hover {
    color: var(--button-operation-bg);
    cursor: pointer;
}