:root {
    --display-result-char: #FFFFFF;
    --display-history-char: #818181;
    --display-history-operation-char: #109DFF;
    --button-number-bg: #303136;
    --button-number-char: #29A8FF;
    --button-operation-bg: #005DB2;
    --button-operation-char: #339DFF;
    --button-clear-bg: #616161;
    --button-clear-char: #A5A5A5;
    --button-operation-active-bg: #1991FF;
    --button-operation-active-char: #B2DAFF;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.calculator {
    margin-top: 100px;
    padding: 50px 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
    width: 500px;
    background: linear-gradient(191.34deg, #17181A -4.95%, #17181A 103.74%);
    border-radius: 39px;
}

.display {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
}

.display-history {
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    color: var(--display-history-char);
}

.display-history-operation {
    color: var(--display-history-operation-char);
}

.display-result {
    font-size: 64px;
    line-height: 72px;
    color: var(--display-result-char);
}

.button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.button-number-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 2;
    grid-row-end: span 4;
}

.button {
    padding: 6px 4px;
    border-radius: 16px;
    font-size: 32px;
    line-height: 48px;
    border: none;
}

.button-number {
    background-color: var(--button-number-bg);
    color: var(--button-number-char);
}

.button-operation,
.button-equality {
    background-color: var(--button-operation-bg);
    color: var(--button-operation-char);
}

.button-clear,
.button-delete {
    background-color: var(--button-clear-bg);
    color: var(--button-clear-char); 
}

.button-equality {
    grid-row-start: 4;
    grid-row-end: 6;
}

.button-wide {
    grid-column-end: span 2;
}